@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--grey: #F1F0F6;
	--dark-grey: #8D8D8D;
	--light: #fff;
	--dark: #000;
	--green: #81D43A;
	--light-green: #E3FFCB;
	--blue: #1775F1;
	--light-blue: #D0E4FF;
	--dark-blue: #0C5FCD;
	--red: #FC3B56;
}

html {
	overflow-x: hidden;
}

body {
	background: var(--grey);
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

img {
	max-height: 100%;
	max-width: 100%;
}



/* SIDEBAR */
#sidebar {
	position: fixed;
	max-width: 260px;
	width: 100%;
	background: var(--light);
	top: 0;
	left: 0;
	height: 100%;
	overflow-y: auto;
	scrollbar-width: none;
	transition: all .3s ease;
	z-index: 200;
	overflow: scroll;
}
#sidebar.hide {
	max-width: 60px;
}
#sidebar.hide:hover {
	max-width: 260px;
}
#sidebar::-webkit-scrollbar {
	display: none;
}
#sidebar .brand {
	font-size: 24px;
	display: flex;
	align-items: center;
	height: 64px;
	font-weight: 700;
	color: var(--blue);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
	background: var(--light);
	transition: all .3s ease;
	padding: 0 6px;
}
#sidebar .icon {
	min-width: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 6px;
}
#sidebar .icon-right {
	margin-left: auto;
	transition: all .3s ease;
}
#sidebar .side-menu {
	margin: 36px 0;
	padding: 0 20px;
	transition: all .3s ease;
}
#sidebar.hide .side-menu {
	padding: 0 6px;
}
#sidebar.hide:hover .side-menu {
	padding: 0 20px;
}
#sidebar .side-menu a {
	display: flex;
	align-items: center;
	font-size: 14px;
	color: var(--dark);
	padding: 12px 16px 12px 0;
	transition: all .3s ease;
	border-radius: 10px;
	margin: 4px 0;
	white-space: nowrap;
}
#sidebar .side-menu > li > a:hover {
	background: var(--grey);
}
#sidebar .side-menu > li > a.active .icon-right {
	transform: rotateZ(90deg);
}
#sidebar .side-menu > li > a.active,
#sidebar .side-menu > li > a.active:hover {
	background: var(--blue);
	color: var(--light);
}
#sidebar .divider {
	margin-top: 24px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
	color: var(--dark-grey);
	transition: all .3s ease;
	white-space: nowrap;
}
#sidebar.hide:hover .divider {
	text-align: left;
}
#sidebar.hide .divider {
	text-align: center;
}
#sidebar .side-dropdown {
	padding-left: 54px;
	max-height: 0;
	overflow-y: hidden;
	transition: all .15s ease;
}
#sidebar .side-dropdown.show {
	max-height: 1000px;
}
#sidebar .side-dropdown a:hover {
	color: var(--blue);
}
#sidebar .ads {
	width: 100%;
	padding: 20px;
}
#sidebar.hide .ads {
	display: none;
}
#sidebar.hide:hover .ads {
	display: block;
}
#sidebar .ads .wrapper {
	background: var(--grey);
	padding: 20px;
	border-radius: 10px;
}
#sidebar .btn-upgrade {
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px 0;
	color: var(--light);
	background: var(--blue);
	transition: all .3s ease;
	border-radius: 5px;
	font-weight: 600;
	margin-bottom: 12px;
}
#sidebar .btn-upgrade:hover {
	background: var(--dark-blue);
}
#sidebar .ads .wrapper p {
	font-size: 12px;
	color: var(--dark-grey);
	text-align: center;
}
#sidebar .ads .wrapper p span {
	font-weight: 700;
}
/* SIDEBAR */





/* CONTENT */
#content {
	position: relative;
	width: calc(100% - 260px);
	left: 260px;
	transition: all .3s ease;
}
#sidebar.hide + #content {
	width: calc(100% - 60px);
	left: 60px;
}




/* NAVBAR */
nav {
	background: var(--light);
	height: 64px;
	padding: 0 20px;
	display: flex;
	align-items: center;
	grid-gap: 28px;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
}
nav .toggle-sidebar {
	font-size: 18px;
	cursor: pointer;
}
nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}
nav .form-group {
	position: relative;
}
nav .form-group input {
	width: 100%;
	background: var(--grey);
	border-radius: 5px;
	border: none;
	outline: none;
	padding: 10px 36px 10px 16px;
	transition: all .3s ease;
}
nav .form-group input:focus {
	box-shadow: 0 0 0 1px var(--blue), 0 0 0 4px var(--light-blue);
}
nav .form-group .icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 16px;
	color: var(--dark-grey);
}
nav .nav-link {
	position: relative;
}
nav .nav-link .icon {
	font-size: 18px;
	color: var(--dark);
}
nav .nav-link .badge {
	position: absolute;
	top: -12px;
	right: -12px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid var(--light);
	background: var(--red);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--light);
	font-size: 10px;
	font-weight: 700;
}
nav .divider {
	width: 1px;
	background: var(--grey);
	height: 12px;
	display: block;
}

.nav-end {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}
/* NAVBAR */



/* MAIN */
main {
	width: 100%;
	padding: 24px 20px 20px 20px;
}
main .title {
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 10px;
}
main .breadcrumbs {
	display: flex;
	grid-gap: 6px;
}
main .breadcrumbs li,
main .breadcrumbs li a {
	font-size: 14px;
}
main .breadcrumbs li a {
	color: var(--blue);
}
main .breadcrumbs li a.active,
main .breadcrumbs li.divider {
	color: var(--dark-grey);
	pointer-events: none;
}
main .info-data {
	margin-top: 36px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 20px;
}
main .info-data .card {
	padding: 20px;
	border-radius: 10px;
	background: var(--light);
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .05);
}

/* MAIN */
/* CONTENT */

.data {
	width: 100%;
	max-height: 100%;
	margin-top: 20px;

	display: grid;
	
	grid-auto-flow: row;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 20px;
}

.card {
	background-color: var(--light);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	border-radius: 10px;

}

.content-data {
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 20px;
	height: 350px;
	width: 250px;
	gap: 10px;
}

/* ABRIGOS */

.card-img__abrigo1, .card-img__abrigo2, .card-img__abrigo3, .card-img__abrigo4 {
	width: 200px;
	height: 300px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	transition: transform 0.2s ease;
}

.card-img__abrigo1 {
	background-image: url("/CampusShop/img/Sweters/producto1/grande1.webp");
}
.card-img__abrigo2 {
	background-image: url("/CampusShop/img/Sweters/producto2/grande1.webp");
}
.card-img__abrigo3 {
	background-image: url("/CampusShop/img/Sweters/producto3/grande1.webp");
}
.card-img__abrigo4 {
	background-image: url("/CampusShop/img/Sweters/producto4/grande1.webp");
}

.card-img__abrigo1:hover, .card-img__abrigo2:hover, .card-img__abrigo3:hover, .card-img__abrigo4:hover {
	transform: scale(1.1);
	border: double 5px var(--green);
	border-radius: 10px;
}

/* CAMISAS */

.card-img__camisa1, .card-img__camisa2, .card-img__camisa3, .card-img__camisa4 {
	width: 200px;
	height: 300px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	transition: transform 0.2s ease;
}

.card-img__camisa1 {
	background-image: url("/CampusShop/img/Camisas/producto1/grande1.webp");
}
.card-img__camisa2 {
	background-image: url("/CampusShop/img/Camisas/producto2/grande1.webp");
}
.card-img__camisa3 {
	background-image: url("/CampusShop/img/Camisas/producto3/grande1.webp");
}
.card-img__camisa4 {
	background-image: url("/CampusShop/img/Camisas/producto4/grande1.webp");
}

.card-img__camisa1:hover, .card-img__camisa2:hover, .card-img__camisa3:hover, .card-img__camisa4:hover {
	transform: scale(1.1);
	border: double 5px var(--green);
	border-radius: 10px;
}

/* PANTALONES */

.card-img__pantalon1, .card-img__pantalon2, .card-img__pantalon3, .card-img__pantalon4 {
	width: 200px;
	height: 300px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	transition: transform 0.2s ease;
}

.card-img__pantalon1 {
	background-image: url("/CampusShop/img/Pantalones/producto1/grande1.webp");
}
.card-img__pantalon2 {
	background-image: url("/CampusShop/img/Pantalones/producto2/grande1.webp");
}
.card-img__pantalon3 {
	background-image: url("/CampusShop/img/Pantalones/producto3/grande1.webp");
}
.card-img__pantalon4 {
	background-image: url("/CampusShop/img/Pantalones/producto4/grande1.webp");
}

.card-img__pantalon1:hover, .card-img__pantalon2:hover, .card-img__pantalon3:hover, .card-img__pantalon4:hover {
	transform: scale(1.1);
	border: double 5px var(--green);
	border-radius: 10px;
}



.card-button {
	padding: 5px;
	width: 70%;
	margin: auto;
	background-color: var(--dark-blue);
	color: var(--light);
	border: solid 2px var(--blue);
	border-radius: 10px;

	transition: all 0.3s ease;
}

.card-button:hover {
	background-color: var(--green);
	border-color: var(--light);
	transform: scale(1.1);
}

@media screen and (max-width: 1166px) {
	.data {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
@media screen and (max-width: 620px) {
	.data {
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 768px) {
	#content {
		position: relative;
		width: calc(100% - 60px);
		transition: all .3s ease;
	}
	nav .nav-link,
	nav .divider {
		display: none;
	}
}

/* PRODUCTOS */

.cont-info {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

.card-product {
	width: 90%;
	height: max-content;
	background-color: var(--light);
	border-radius: 10px;
}

.card-informacion__container {
	padding: 2rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
}
@media screen and (max-width: 600px) {
	.card-informacion__container {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	}
}


.card-producto__titulo {
	font-size: 2rem;
}

.card-informacion__img {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
	width: 90%;
}
@media screen and (max-width: 600px) {
    .card-informacion__container {
        grid-template-columns: 100%;
    }

    .card-informacion__img {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 2fr 1fr;
    }

	.info-boton {
		width: 100%;
	}
}


/* ================================================================= */

/* ABRIGO 1 */

.info-img__abrigo1Pequeña1, .info-img__abrigo1Pequeña2, .info-img__abrigo1Pequeña3 {
    align-items: center;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;

    transition: all 0.1s ease-in;
}

.info-img__abrigo1Pequeña1 {
	background-image: url(/CampusShop/img/Sweters/producto1/pequeña1.webp);
	background-size: contain;
	margin: auto;
}

.info-img__abrigo1Pequeña2 {
	background-image: url(/CampusShop/img/Sweters/producto1/pequeña2.webp);
	background-size: contain;
	margin: auto;
}
.info-img__abrigo1Pequeña3 {
	background-image: url(/CampusShop/img/Sweters/producto1/pequeña3.webp);
	background-size: contain;
	margin: auto;
}
.info-img__abrigo1Grande {
	min-width: 90%;
    height: 500px;
    grid-column: 2 / 2;
    grid-row: 1 / span 3;
    background-image: url("/CampusShop/img/Sweters/producto1/grande1.webp");
    background-repeat: no-repeat;
    background-position: center;

}

.info-img__abrigo1Pequeña1:hover, .info-img__abrigo1Pequeña2:hover {
	border: solid 2px var(--blue);
}

.info-img__abrigo1Pequeña1:hover ~ .info-img__abrigo1Grande{
    background-image: url("/CampusShop/img/Sweters/producto1/grande1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.info-img__abrigo1Pequeña2:hover ~ .info-img__abrigo1Grande {
    background-image: url("/CampusShop/img/Sweters/producto1/grande2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* ABRIGO 2 */

.info-img__abrigo2Pequeña1, .info-img__abrigo2Pequeña2, .info-img__abrigo2Pequeña3 {
    align-items: center;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;

    transition: all 0.1s ease-in;
}

.info-img__abrigo2Pequeña1 {
	background-image: url(/CampusShop/img/Sweters/producto2/pequeña1.webp);
	background-size: contain;
	margin: auto;
}

.info-img__abrigo2Pequeña2 {
	background-image: url(/CampusShop/img/Sweters/producto2/pequeña2.webp);
	background-size: contain;
	margin: auto;
}
.info-img__abrigo2Pequeña3 {
	background-image: url(/CampusShop/img/Sweters/producto2/pequeña3.webp);
	background-size: contain;
	margin: auto;
}

.info-img__abrigo2Grande {
	min-width: 90%;
    height: 500px;
    grid-column: 2 / 2;
    grid-row: 1 / span 3;
    background-image: url("/CampusShop/img/Sweters/producto2/grande1.webp");
    background-repeat: no-repeat;
    background-position: center;

}

.info-img__abrigo2Pequeña1:hover, .info-img__abrigo2Pequeña2:hover,.info-img__abrigo2Pequeña3:hover {
	border: solid 2px var(--blue);
}

.info-img__abrigo2Pequeña1:hover ~ .info-img__abrigo2Grande{
    background-image: url("/CampusShop/img/Sweters/producto2/grande1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.info-img__abrigo2Pequeña2:hover ~ .info-img__abrigo2Grande {
    background-image: url("/CampusShop/img/Sweters/producto2/grande2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.info-img__abrigo2Pequeña3:hover ~ .info-img__abrigo2Grande {
    background-image: url("/CampusShop/img/Sweters/producto2/grande3.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* ABRIGO 3 */

.info-img__abrigo3Pequeña1, .info-img__abrigo3Pequeña2, .info-img__abrigo3Pequeña3 {
    align-items: center;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;

    transition: all 0.1s ease-in;
}

.info-img__abrigo3Pequeña1 {
	background-image: url(/CampusShop/img/Sweters/producto3/pequeña1.webp);
	background-size: contain;
	margin: auto;
}

.info-img__abrigo3Pequeña2 {
	background-image: url(/CampusShop/img/Sweters/producto3/pequeña2.webp);
	background-size: contain;
	margin: auto;
}
.info-img__abrigo3Pequeña3 {
	background-image: url(/CampusShop/img/Sweters/producto3/pequeña3.webp);
	background-size: contain;
	margin: auto;
}

.info-img__abrigo3Grande {
	min-width: 90%;
    height: 500px;
    grid-column: 2 / 2;
    grid-row: 1 / span 3;
    background-image: url("/CampusShop/img/Sweters/producto2/grande1.webp");
    background-repeat: no-repeat;
    background-position: center;

}

.info-img__abrigo3Pequeña1:hover, .info-img__abrigo3Pequeña2:hover,.info-img__abrigo3Pequeña3:hover {
	border: solid 2px var(--blue);
}

.info-img__abrigo3Pequeña1:hover ~ .info-img__abrigo3Grande{
    background-image: url("/CampusShop/img/Sweters/producto2/grande1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.info-img__abrigo3Pequeña2:hover ~ .info-img__abrigo3Grande {
    background-image: url("/CampusShop/img/Sweters/producto2/grande2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.info-img__abrigo3Pequeña3:hover ~ .info-img__abrigo3Grande {
    background-image: url("/CampusShop/img/Sweters/producto2/grande3.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* ABRIGO 4 */

.info-img__abrigo4Pequeña1, .info-img__abrigo4Pequeña2, .info-img__abrigo4Pequeña3 {
    align-items: center;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;

    transition: all 0.1s ease-in;
}

.info-img__abrigo4Pequeña1 {
	background-image: url(/CampusShop/img/Sweters/producto4/pequeña1.webp);
	background-size: contain;
	margin: auto;
}

.info-img__abrigo4Pequeña2 {
	background-image: url(/CampusShop/img/Sweters/producto4/pequeña2.webp);
	background-size: contain;
	margin: auto;
}
.info-img__abrigo4Pequeña3 {
	background-image: url(/CampusShop/img/Sweters/producto4/pequeña3.webp);
	background-size: contain;
	margin: auto;
}

.info-img__abrigo4Grande {
	min-width: 90%;
    height: 500px;
    grid-column: 2 / 2;
    grid-row: 1 / span 3;
    background-image: url("/CampusShop/img/Sweters/producto2/grande1.webp");
    background-repeat: no-repeat;
    background-position: center;

}

.info-img__abrigo4Pequeña1:hover, .info-img__abrigo4Pequeña2:hover,.info-img__abrigo4Pequeña3:hover {
	border: solid 2px var(--blue);
}

.info-img__abrigo4Pequeña1:hover ~ .info-img__abrigo4Grande{
    background-image: url("/CampusShop/img/Sweters/producto2/grande1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.info-img__abrigo4Pequeña2:hover ~ .info-img__abrigo4Grande {
    background-image: url("/CampusShop/img/Sweters/producto2/grande2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.info-img__abrigo4Pequeña3:hover ~ .info-img__abrigo4Grande {
    background-image: url("/CampusShop/img/Sweters/producto2/grande3.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* ================================================================= */
/* CAMISA 1 */

.info-img__camisa1Pequeña1, .info-img__camisa1Pequeña2, .info-img__camisa1Pequeña3 {
    align-items: center;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;

    transition: all 0.1s ease-in;
}

.info-img__camisa1Pequeña1 {
	background-image: url(/CampusShop/img/Camisas/producto1/pequeña1.webp);
	background-size: contain;
	margin: auto;
}

.info-img__camisa1Pequeña2 {
	background-image: url(/CampusShop/img/Camisas/producto1/pequeña2.webp);
	background-size: contain;
	margin: auto;
}
.info-img__camisa1Pequeña3 {
	background-image: url(/CampusShop/img/Camisas/producto1/pequeña3.webp);
	background-size: contain;
	margin: auto;
}
.info-img__camisa1Grande {
	min-width: 90%;
    height: 500px;
    grid-column: 2 / 2;
    grid-row: 1 / span 3;
    background-image: url("/CampusShop/img/Camisas/producto1/grande1.webp");
    background-repeat: no-repeat;
    background-position: center;

}

.info-img__camisa1Pequeña1:hover, .info-img__camisa1Pequeña2:hover, .info-img__camisa1Pequeña3:hover {
	border: solid 2px var(--blue);
}

.info-img__camisa1Pequeña1:hover ~ .info-img__camisa1Grande{
    background-image: url("/CampusShop/img/Camisas/producto1/grande1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.info-img__camisa1Pequeña2:hover ~ .info-img__camisa1Grande {
    background-image: url("/CampusShop/img/Camisas/producto1/grande2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.info-img__camisa1Pequeña3:hover ~ .info-img__camisa1Grande {
    background-image: url("/CampusShop/img/Camisas/producto1/grande3.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* CAMISA 2 */

.info-img__camisa2Pequeña1, .info-img__camisa2Pequeña2, .info-img__camisa2Pequeña3 {
    align-items: center;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;

    transition: all 0.1s ease-in;
}

.info-img__camisa2Pequeña1 {
	background-image: url(/CampusShop/img/Camisas/producto2/pequeña1.webp);
	background-size: contain;
	margin: auto;
}

.info-img__camisa2Pequeña2 {
	background-image: url(/CampusShop/img/Camisas/producto2/pequeña2.webp);
	background-size: contain;
	margin: auto;
}
.info-img__camisa2Pequeña3 {
	background-image: url(/CampusShop/img/Camisas/producto2/pequeña3.webp);
	background-size: contain;
	margin: auto;
}
.info-img__camisa2Grande {
	min-width: 90%;
    height: 500px;
    grid-column: 2 / 2;
    grid-row: 1 / span 3;
    background-image: url("/CampusShop/img/Camisas/producto2/grande1.webp");
    background-repeat: no-repeat;
    background-position: center;

}

.info-img__camisa2Pequeña1:hover, .info-img__camisa2Pequeña2:hover, .info-img__camisa2Pequeña3:hover {
	border: solid 2px var(--blue);
}

.info-img__camisa2Pequeña1:hover ~ .info-img__camisa2Grande{
    background-image: url("/CampusShop/img/Camisas/producto2/grande1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.info-img__camisa2Pequeña2:hover ~ .info-img__camisa2Grande {
    background-image: url("/CampusShop/img/Camisas/producto2/grande2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.info-img__camisa2Pequeña3:hover ~ .info-img__camisa2Grande {
    background-image: url("/CampusShop/img/Camisas/producto2/grande3.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* CAMISA 3 */

.info-img__camisa3Pequeña1, .info-img__camisa3Pequeña2, .info-img__camisa3Pequeña3 {
    align-items: center;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;

    transition: all 0.1s ease-in;
}

.info-img__camisa3Pequeña1 {
	background-image: url(/CampusShop/img/Camisas/producto3/pequeña1.webp);
	background-size: contain;
	margin: auto;
}

.info-img__camisa3Pequeña2 {
	background-image: url(/CampusShop/img/Camisas/producto3/pequeña2.webp);
	background-size: contain;
	margin: auto;
}
.info-img__camisa3Pequeña3 {
	background-image: url(/CampusShop/img/Camisas/producto3/pequeña3.webp);
	background-size: contain;
	margin: auto;
}
.info-img__camisa3Grande {
	min-width: 90%;
    height: 500px;
    grid-column: 2 / 2;
    grid-row: 1 / span 3;
    background-image: url("/CampusShop/img/Camisas/producto3/grande1.webp");
    background-repeat: no-repeat;
    background-position: center;

}

.info-img__camisa3Pequeña1:hover, .info-img__camisa3Pequeña2:hover, .info-img__camisa3Pequeña3:hover {
	border: solid 2px var(--blue);
}

.info-img__camisa3Pequeña1:hover ~ .info-img__camisa3Grande{
    background-image: url("/CampusShop/img/Camisas/producto3/grande1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.info-img__camisa3Pequeña2:hover ~ .info-img__camisa3Grande {
    background-image: url("/CampusShop/img/Camisas/producto3/grande2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.info-img__camisa3Pequeña3:hover ~ .info-img__camisa3Grande {
    background-image: url("/CampusShop/img/Camisas/producto3/grande3.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* CAMISA 4 */

.info-img__camisa4Pequeña1, .info-img__camisa4Pequeña2, .info-img__camisa4Pequeña3 {
    align-items: center;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;

    transition: all 0.1s ease-in;
}

.info-img__camisa4Pequeña1 {
	background-image: url(/CampusShop/img/Camisas/producto4/pequeña1.webp);
	background-size: contain;
	margin: auto;
}

.info-img__camisa4Pequeña2 {
	background-image: url(/CampusShop/img/Camisas/producto4/pequeña2.webp);
	background-size: contain;
	margin: auto;
}
.info-img__camisa4Pequeña3 {
	background-image: url(/CampusShop/img/Camisas/producto4/pequeña3.webp);
	background-size: contain;
	margin: auto;
}
.info-img__camisa4Grande {
	min-width: 90%;
    height: 500px;
    grid-column: 2 / 2;
    grid-row: 1 / span 3;
    background-image: url("/CampusShop/img/Camisas/producto4/grande1.webp");
    background-repeat: no-repeat;
    background-position: center;

}

.info-img__camisa4Pequeña1:hover, .info-img__camisa4Pequeña2:hover, .info-img__camisa4Pequeña3:hover {
	border: solid 2px var(--blue);
}

.info-img__camisa4Pequeña1:hover ~ .info-img__camisa4Grande{
    background-image: url("/CampusShop/img/Camisas/producto4/grande1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.info-img__camisa4Pequeña2:hover ~ .info-img__camisa4Grande {
    background-image: url("/CampusShop/img/Camisas/producto4/grande2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.info-img__camisa4Pequeña3:hover ~ .info-img__camisa4Grande {
    background-image: url("/CampusShop/img/Camisas/producto4/grande3.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* ================================================================= */
/* PANTALON 1 */

.info-img__pantalon1Pequeña1, .info-img__pantalon1Pequeña2, .info-img__pantalon1Pequeña3 {
    align-items: center;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;

    transition: all 0.1s ease-in;
}

.info-img__pantalon1Pequeña1 {
	background-image: url(/CampusShop/img/Pantalones/producto1/pequeña1.webp);
	background-size: contain;
	margin: auto;
}

.info-img__pantalon1Pequeña2 {
	background-image: url(/CampusShop/img/Pantalones/producto1/pequeña2.webp);
	background-size: contain;
	margin: auto;
}
.info-img__pantalon1Pequeña3 {
	background-image: url(/CampusShop/img/Pantalones/producto1/pequeña3.webp);
	background-size: contain;
	margin: auto;
}
.info-img__pantalon1Grande {
	min-width: 90%;
    height: 500px;
    grid-column: 2 / 2;
    grid-row: 1 / span 3;
    background-image: url("/CampusShop/img/Pantalones/producto1/grande1.webp");
    background-repeat: no-repeat;
    background-position: center;

}

.info-img__pantalon1Pequeña1:hover, .info-img__pantalon1Pequeña2:hover, .info-img__pantalon1Pequeña3:hover {
	border: solid 2px var(--blue);
}

.info-img__pantalon1Pequeña1:hover ~ .info-img__pantalon1Grande{
    background-image: url("/CampusShop/img/Pantalones/producto1/grande1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.info-img__pantalon1Pequeña2:hover ~ .info-img__pantalon1Grande {
    background-image: url("/CampusShop/img/Pantalones/producto1/grande2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.info-img__pantalon1Pequeña3:hover ~ .info-img__pantalon1Grande {
    background-image: url("/CampusShop/img/Pantalones/producto1/grande3.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* PANTALON 2 */

.info-img__pantalon2Pequeña1, .info-img__pantalon2Pequeña2, .info-img__pantalon2Pequeña3 {
    align-items: center;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;

    transition: all 0.1s ease-in;
}

.info-img__pantalon2Pequeña1 {
	background-image: url(/CampusShop/img/Pantalones/producto2/pequeña1.webp);
	background-size: contain;
	margin: auto;
}

.info-img__pantalon2Pequeña2 {
	background-image: url(/CampusShop/img/Pantalones/producto2/pequeña2.webp);
	background-size: contain;
	margin: auto;
}
.info-img__pantalon2Pequeña3 {
	background-image: url(/CampusShop/img/Pantalones/producto2/pequeña3.webp);
	background-size: contain;
	margin: auto;
}
.info-img__pantalon2Grande {
	min-width: 90%;
    height: 500px;
    grid-column: 2 / 2;
    grid-row: 1 / span 3;
    background-image: url("/CampusShop/img/Pantalones/producto2/grande1.webp");
    background-repeat: no-repeat;
    background-position: center;

}

.info-img__pantalon2Pequeña1:hover, .info-img__pantalon2Pequeña2:hover, .info-img__pantalon2Pequeña3:hover {
	border: solid 2px var(--blue);
}

.info-img__pantalon2Pequeña1:hover ~ .info-img__pantalon2Grande{
    background-image: url("/CampusShop/img/Pantalones/producto2/grande1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.info-img__pantalon2Pequeña2:hover ~ .info-img__pantalon2Grande {
    background-image: url("/CampusShop/img/Pantalones/producto2/grande2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.info-img__pantalon2Pequeña3:hover ~ .info-img__pantalon2Grande {
    background-image: url("/CampusShop/img/Pantalones/producto2/grande3.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* PANTALON 3 */

.info-img__pantalon3Pequeña1, .info-img__pantalon3Pequeña2, .info-img__pantalon3Pequeña3 {
    align-items: center;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;

    transition: all 0.1s ease-in;
}

.info-img__pantalon3Pequeña1 {
	background-image: url(/CampusShop/img/Pantalones/producto3/pequeña1.webp);
	background-size: contain;
	margin: auto;
}

.info-img__pantalon3Pequeña2 {
	background-image: url(/CampusShop/img/Pantalones/producto3/pequeña2.webp);
	background-size: contain;
	margin: auto;
}
.info-img__pantalon3Pequeña3 {
	background-image: url(/CampusShop/img/Pantalones/producto3/pequeña3.webp);
	background-size: contain;
	margin: auto;
}
.info-img__pantalon3Grande {
	min-width: 90%;
    height: 500px;
    grid-column: 2 / 2;
    grid-row: 1 / span 3;
    background-image: url("/CampusShop/img/Pantalones/producto3/grande1.webp");
    background-repeat: no-repeat;
    background-position: center;

}

.info-img__pantalon3Pequeña1:hover, .info-img__pantalon3Pequeña2:hover, .info-img__pantalon3Pequeña3:hover {
	border: solid 2px var(--blue);
}

.info-img__pantalon3Pequeña1:hover ~ .info-img__pantalon3Grande{
    background-image: url("/CampusShop/img/Pantalones/producto3/grande1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.info-img__pantalon3Pequeña2:hover ~ .info-img__pantalon3Grande {
    background-image: url("/CampusShop/img/Pantalones/producto3/grande2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.info-img__pantalon3Pequeña3:hover ~ .info-img__pantalon3Grande {
    background-image: url("/CampusShop/img/Pantalones/producto3/grande3.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* PANTALON 4 */

.info-img__pantalon4Pequeña1, .info-img__pantalon4Pequeña2, .info-img__pantalon4Pequeña3 {
    align-items: center;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;

    transition: all 0.1s ease-in;
}

.info-img__pantalon4Pequeña1 {
	background-image: url(/CampusShop/img/Pantalones/producto4/pequeña1.webp);
	background-size: contain;
	margin: auto;
}

.info-img__pantalon4Pequeña2 {
	background-image: url(/CampusShop/img/Pantalones/producto4/pequeña2.webp);
	background-size: contain;
	margin: auto;
}
.info-img__pantalon4Pequeña3 {
	background-image: url(/CampusShop/img/Pantalones/producto4/pequeña3.webp);
	background-size: contain;
	margin: auto;
}
.info-img__pantalon4Grande {
	min-width: 90%;
    height: 500px;
    grid-column: 2 / 2;
    grid-row: 1 / span 3;
    background-image: url("/CampusShop/img/Pantalones/producto4/grande1.webp");
    background-repeat: no-repeat;
    background-position: center;

}

.info-img__pantalon4Pequeña1:hover, .info-img__pantalon4Pequeña2:hover, .info-img__pantalon4Pequeña3:hover {
	border: solid 2px var(--blue);
}

.info-img__pantalon4Pequeña1:hover ~ .info-img__pantalon4Grande{
    background-image: url("/CampusShop/img/Pantalones/producto4/grande1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.info-img__pantalon4Pequeña2:hover ~ .info-img__pantalon4Grande {
    background-image: url("/CampusShop/img/Pantalones/producto4/grande2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.info-img__pantalon4Pequeña3:hover ~ .info-img__pantalon4Grande {
    background-image: url("/CampusShop/img/Pantalones/producto4/grande3.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* ================================================================= */
/* PRODUCTOS RESPONSIVE */

@media screen and (max-width: 600px) {
	/* ABRIGOS */

	.info-img__abrigo1Grande {
		grid-column: 1 / span 3;
	}
	.info-img__abrigo2Grande {
		grid-column: 1 / span 3;
	}
	.info-img__abrigo3Grande {
		grid-column: 1 / span 3;
	}
	.info-img__abrigo4Grande {
		grid-column: 1 / span 3;
	}

	/* CAMISAS */

	.info-img__camisa1Grande {
		grid-column: 1 / span 3;
	}
	.info-img__camisa2Grande {
		grid-column: 1 / span 3;
	}
	.info-img__camisa3Grande {
		grid-column: 1 / span 3;
	}
	.info-img__camisa4Grande {
		grid-column: 1 / span 3;
	}

		/* PANTALONES */

	.info-img__pantalon1Grande {
		grid-column: 1 / span 3;
	}
	.info-img__pantalon2Grande {
		grid-column: 1 / span 3;
	}
	.info-img__pantalon3Grande {
		grid-column: 1 / span 3;
	}
	.info-img__pantalon4Grande {
		grid-column: 1 / span 3;
	}
}

.info-cont__estrellas {
	font-size: 2rem;
	color: var(--red);
}

.info-txt__precio {
	color: var(--red);
	font-size: 2rem;
}

.info-boton {
	padding: 5px;
	width: 70%;
	background-color: var(--dark-blue);
	color: var(--light);
	border: solid 2px var(--blue);
	border-radius: 10px;

	transition: all 0.3s ease;
}

.info-boton:hover {
    animation: colorChange 2s infinite ease-in-out;
    color: var(--light);

    border: solid 2px;
}

@keyframes colorChange {
    0% {
        background-color: var(--colorSecundario);
        border: solid 2px var(--colorTerciario);
    }
    10% {
        background-color: #9400D3;
        border: solid 2px #9400D3;
    }
    33% {
        background-color: #0000FF;
        border: solid 2px #0000FF;
    }
    66% {
        background-color: #00FF00;
        border: solid 2px #00FF00;
    }
    100% {
        background-color: #FF0000;
        border: solid 2px #FF0000;

    }
}

.info-txt {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}




